

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600&display=swap');



:root{
    --light-color:#F3F9FB;
    --dark-color:#1C2B2D;
    --primary-color:#00B7A8;
    --lightvarient-darkColor:#1C2B2Ddf;
    --black-color:#000;
    --shadow-color:#e4f0dc;
}



*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--light-color);
    line-height: 1.5em;
}



p::selection{
    background-color: var(--primary-color);
    color:var(--light-color);
}


/* ++++++++++++++++++++++++++++++  LANDIND-PAGE ++++++++++++++++++++++++++++++*/



.main{
    /* border:1px solid red; */
    width:100%;
    height:100vh;
    padding-bottom: 6em;
    overflow:hidden;
}

@media(max-height:655px){
    .main{
        height:auto;
        padding-bottom: 4em;
    }
}


/* +++++++ HEADER +++++ */


.header{
    /* border:1px solid blue; */
    width:95%;
    margin: 0 auto;
    padding: 1em 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.logo{
    font-size: 2em;
    font-weight: 800;
    color:var(--primary-color);
    letter-spacing: .02em;
    cursor: pointer;
    user-select: none;
}

.nav-and-btn-cont{
    /* border: 1px solid red; */
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
}


.nav-ul{
    display: flex;
    list-style: none;
    padding:.5em ;
    /* border: 1px solid red; */
}

.nav-ul li{
    /* border: 1px solid blue; */
    padding: .3em .8em;
}

.nav-ul li a{
    padding: 0em .8em;
    text-decoration: none;
    font-size: .88em;
    color: var(--dark-color);
    border-left:3px solid transparent;
    transition: all 200ms linear;
}

.nav-ul :nth-child(1) a{
    border-left:3px solid var(--primary-color); ;
}

.nav-ul li a:hover,
.nav-ul li a:focus{
    border-color: var(--primary-color);
}


.mobile-view-nav-cont{
    transform:translateX(-100%);
    display:none;
}


@media(max-width:785px){
    .nav-list-cont{
        display: none;
    }

    .header{
        padding:1.5em 0;
    }

    .hamBurger{
        /* position: absolute;
        top:33px;
        right:18px; */
        padding: 0 .35em;
        width:48px;
        height:33px;
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        /* border:1px solid red; */
        z-index:200;
    }
    
    .line{
        width:32px;
        height:4px;
        background-color:var(--primary-color);
        border-radius: 10px;
        transition: all 700ms ease-in-out;
    }

    .mid-line-cont{
        position: relative;
    }
    .mid-line2{
        position: absolute;
        top:0;
        left:0;
    }

    .changetheline1{
        transform: scale(0);
    }
    .changetheline3{
        transform: scale(0);
    }

    .changeMidLine1{
        transform: rotate(45deg);
    }

    .changeMidLine2{
        transform: rotate(-45deg);
    }

    

    .mobile-view-nav-cont{
        display:block;
        background-color:var(--dark-color);
        width:100%;
        height:100vh;
        z-index:100;
        position:absolute;
        top:0;
        display:flex;
        flex-direction:column;
        justify-content:center;
        opacity:0;
        transition:all 500ms ease-in-out;
        overflow:hidden;
    }

    .show-nav{
        transform:translateX(0);
        opacity:1;
    }

    .mobile-view-nav-head{
        padding:0 1em;
        color:var(--primary-color);
        font-size:1.5em;
    }

    .mobile-view-nav-list{
        /* border:1px solid white; */
        padding:1em .5em;

    }

    .mobile-view-nav-list ul{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:space-between;
        list-style:none;
    }

    .mobile-view-nav-list ul li{
        padding:1em;
    }

    .mobile-view-nav-list ul li a{
        text-decoration:none;
        font-size:2em;
        color:var(--light-color);
        font-weight:100;
    }

    .mobile-view-nav-list ul li a:hover,
    .mobile-view-nav-list ul li a:focus{
        color:var(--primary-color);
    }
}


/* .fade-in-mobile-list{

} */


/* ++++++++ CONTENT-ON-LANDING-PAGE +++++++ */


.content-container{
    /* border:1px solid red; */
    width:60%;
    height:auto;
    margin-top: 10em;
    margin-left: 6%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.content-head{
    font-size: 5em;
    margin-left: -.06em;
    padding-bottom: .3em;
    color: var(--dark-color);
    font-weight: 900;
}

.content-head span{
    font-weight: 200;
    color:var(--black-color);
}




.content-quote-cont{
    /* border: 1px solid black; */
    width:45ch;
    padding: .5em .5em .5em 0;
}


.quote{
    color: var(--dark-color);
    padding-bottom: 7em;
}

.quote span{
    color:var(--primary-color);
    font-weight: 700;
}


.content-2{
    width:60ch;
    padding: .5em .5em .5em 0;
    z-index: 60;
}

.explore-btn-cont{
    display: flex;
    flex-direction:row ;
    justify-content: flex-start;
    align-items: center;
    width:130%;
}


.explore-btn{
    outline: none;
    border: none;
    padding: .5em 1.5em;
    font-family: 'Poppins',sans-serif;
    background-color:var(--dark-color) ;
    border:1px solid var(--dark-color);
    color:var(--light-color);
    font-weight: 500;
    cursor: pointer;
    margin-right:1em;
    transition: all 100ms ease-in;
}


.explore-btn:hover,
.explore-btn:focus{
    background-color: transparent;
    color:var(--dark-color);
}

.blog-btn{
    outline: none;
    border: none;
    padding: .5em 1.5em;
    font-family: 'Poppins',sans-serif;
    background-color: transparent;
    border: 1px solid var(--dark-color);
    color:var(--dark-color);
    font-weight: 500;
    cursor: pointer;
    margin-right:1em;
    transition: all 100ms ease-in;
}


.blog-btn:hover,
.blog-btn:focus{
    background-color: var(--dark-color);
    color:var(--light-color);
}



.illustration-cont{
    width:450px;
    height:450px;
    position:absolute;
    top:30vh;
    right:80px;
}


.landing-img-container{
    /* border:1px solid red; */
    width:450px;
    height:450px;
    position:absolute;
    bottom:0;
    right:0;
    background-color: none;
    background-image: url("Images/illustration/girlIllustration0.5.png");
    background-size: cover;
}

.flower-pot-1{
    position: absolute;
    bottom: -10px;
    left:-20px;
    z-index:50;
}


.flower-pot-2{
    position: absolute;
    bottom: -10px;
    right:-20px;
    z-index:50;
}



.shadow{
    width:160px;
    height:20px;
    background-color:#1C2B2D44;
    position: absolute;
    bottom: 5px;
    left:50%;
    transform: translate(-50%);
    border-radius: 50%;
}



@media(max-width:935px){

    .content-container{
        margin-top: 4em;
    }
    
    .quote{
        padding-bottom: 2em;
    }

    .content-head {
        line-height: .8em;
    }

    .content-quote-cont{
        width:30ch;
    }

    .illustration-cont{
        right:30px;
        bottom:80px;
    }

    .landing-img-container{
        width:380px;
        height:380px;
    }

    .flower-pot-1{
        width:calc(148px / 1.5);
        height:calc(383px / 1.5);
        left:90px;
    }
    
    .flower-pot-2{
        width:calc(140px / 1.5);
        height:calc(422px / 1.5);
        right:20px;
    }


    .content-2{
        padding-top: 5em;
        width:50ch;
    }
}

@media (max-width:850px) {
    .content-2{
        width:40ch;
    }
}


@media(max-width:690px){
    .illustration-cont{
        display: none;
    }

    .main{
        background-image: url("Images/illustration/illus.jpg");
        background-size: cover;
        background-color: var(--lightvarient-darkColor);
        background-blend-mode: multiply;
    }


    .content-head{
        font-size: 2.5em;
        color:var(--black-color);
    }

    .content-head span{
        color:var(--primary-color);
    }

    .quote{
        color: var(--light-color);
    }

    .content-2{
        color: var(--light-color);
    }

    .explore-btn{
        background-color: var(--primary-color);
        border-color: var(--primary-color);
    }

    .blog-btn{
        border-color:var(--primary-color) ;
        color:var(--primary-color);
    }

    .explore-btn:hover,
    .explore-btn:focus{
        background-color: transparent;
        color:var(--primary-color);
    }

    .blog-btn:hover,
    .blog-btn:focus{
        background-color: var(--primary-color);
        
    }

    .content-quote-cont{
        width:30ch;
    }

    .content-head{
        margin-top:2.5em;
    }

    .content-2{
        padding-top: 5em;
        width:30ch;
    }
}


@media(max-width:400px){
    .main{
        background-position-x: -40px;
        background-repeat: no-repeat;
    }

    .content-head{
        font-size:1.8em;
    }
}





/* ++++++++++++++++++++++++++++  SECTION -2 +++++++++++++++++++++++++++++++ */


.section-2{
    /* border:1px solid red; */
    width:100%;
    height: auto;
    background-color:var(--dark-color);
    overflow: hidden;

}


.section-2-head-cont{
    padding: 4em 2em 1em 2em;
    text-align: center;
}


.section-2-head{
    font-size: 1.4em;
    text-transform: uppercase;
    font-weight: 200;
    color:var(--light-color);
}

.section-2-head span{
    font-weight: 900;
    color:var(--primary-color);
}


.card-container{
    /* border:1px solid blue; */
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 2em 0 0 0;
    width:55%;
    margin:0 auto;
}


@media(max-width:1160px){
    .card-container{
        width:70%;
    }
}

.card{

    text-align: center;
    width:150px;
    height:250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding:0 .2em .5em .2em;
    margin: 1em .5em;
    position: relative;
    background-size: cover;
    background-color: var(--lightvarient-darkColor);
    background-blend-mode:soft-light;
    cursor: pointer;
    opacity: 0;
    transform: translateY(100px);
    transition: all 600ms ease-in;
}

.card::after{
    content: ' ';
    background:linear-gradient(transparent 5%,var(--black-color));
    width:100%;
    height:150px;
    position: absolute;
    bottom: 0;
}

.card:hover,
.card:focus{
    box-shadow:0 0 10px var(--black-color);
}

.arrow{
    transition: all 300ms ease-in-out;
}

.card:hover .arrow,
.card:focus .arrow{
    transform: translateX(10px);
}

.card-1{
    background-image: url("Images/food02.jpg");
    margin-top: 3em;
}

.card-2{
    background-image: url("Images/exercise01.jpg");
}

.card-3{
    background-image: url("Images/talk.jpg");
    margin-top: 3em;
}

.card-4{
    background-image: url("Images/happy02.jpg");
}



.card-content-cont{
    /* border: 1px solid blue; */
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;   
}

.card-head{
    text-transform: uppercase;
    font-family: 'Kaushan Script', cursive;
    font-weight: 900;
    color:var(--light-color);
    transition: all 300ms ease-in-out;
}


.card-text{
    font-size: .7em;
    font-weight: 200;
    color:var(--light-color);
    z-index: 10;
    line-height: 1.3em;
}


.card-text span a{
    color:var(--light-color);
    font-size: 1.1em;
    padding: 0 .3em;
    text-decoration:none;
}


.link-cont{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: .5em 0 0 0;
}




.more-card{
    transform: translateY(60px);
    opacity: 1;
    transition: all 600ms ease-in;
}


.more-activities-cont{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em .5em .5em .5em ;
}

.more-content-head{
    width:90%;
    border-top:1px solid var(--light-color) ;
}

.more-content-head p{
    color:var(--light-color);
    font-size: 1.1em;
}

.more-content-card-cont{
    /* border:1px solid red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    padding: .5em .5em .2em .5em;
    width:85%;
}

.actual-card{
    padding: 1.7em;
    border-radius: 12px;
    background-color: var(--dark-color);
    box-shadow:  21px 21px 42px #172324,
    -10px -10px 32px #213336;
    margin:.5em;
}

.more-card-content{
    text-align: center;
}

.more-card-content p{
    color:var(--light-color);
    font-weight: 300;
}



.appear{
    opacity: 1;
    transform: translateY(0);
}




/* ++++++++++++++++++++++++++++++++++++  SECTION-3 ++++++++++++++++++++++++++++++++++++++ */


.section-3-cont{
    width:100%;
    height:auto;
    padding: 5em 1em;
}

.take-page-content-cont{
    border:5px  var(--primary-color);
    border-style:double;
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;   
    justify-content: space-between;
}

.talk-page-content{
   
    padding: 2em ;
    width:65%;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

.talk-page-content div{
    padding: 1em 0;
}

.talk-page-content h2{
    padding:.5em 0;
    font-weight: 900;
    color: var(--dark-color);
}

.talk-page-content p{
    padding: .3em 0;
    font-weight: 400;
    color:var(--dark-color)
}


.take-me-there-btn{
    outline:none;
    border:none;
    background-color: transparent;
    color:var(--primary-color);
    font-size: 1.5em;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all 300ms ease-in;
    font-family: 'poppins', serif;
}

.take-me-there-btn:hover,
.take-me-there-btn:focus{
    color: var(--dark-color);
}


.take-there-arrow{
    margin:.3em 0 0 .5em;
    transition: all 300ms ease-in;
}


.take-me-there-btn:hover .take-there-arrow,
.take-me-there-btn:focus .take-there-arrow{
    margin-left: 1em;
}


.take-page-img-cont{
    /* border:1px solid red; */
    min-width:300px;
    min-height:300px;
    background-image: url("Images/illustration/home-bot-img.png");
    background-size: cover;
    background-position-x: -100px;
    background-color:var(--light-color);
    background-blend-mode: multiply;
}



@media(max-width:775px){

    .take-page-content-cont{
        flex-direction: column-reverse;

    }

    .talk-page-content{
        width:100%;
    }

}



/* ++++++++++++++++++++ FOOTER +++++++++++++++++++ */


.footer{
    background-color:var(--primary-color) ;
    padding: 3em 3em .5em 3em;
    width: 100%;
    height:auto;
    overflow: hidden;
    position: relative;
}

.footer-text-cont{
    padding-bottom: 1em;
    border-bottom: 1px solid var(--dark-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.footer-text-cont h2{
    padding-bottom: .5em;
    color:var(--dark-color);
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
}

.footer-text-cont p{
    color:var(--dark-color);
    max-width:50ch;
}


.social-icon-cont{
    padding:2em 0 .5em 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.footer-logo{
    color:var(--light-color);
    margin:.5em 0;
}

.icons{
    margin: .5em 0;
}

.icons ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.icons ul li{
    padding: .5em 1em 0 0;
}

.icons ul li a{
    color:var(--dark-color);
    font-size: 1.5em;
}


.copy-rights{
    padding: 1em 0 0 0;
    text-align: center;
    font-size: .8em;
}


.attribute-text{
    color:var(--dark-color);
    border-left:3px solid var(--light-color);
    padding:0 .5em;
    cursor: pointer;
}



.actual-author-contribution-cont{
    background-color: var(--dark-color);
    position:absolute;
    top:500px;
    right:0;
    width:350px;
    max-height:180px;
    padding:.5em;
    overflow:scroll;
    transition: all 500ms ease-in-out;
    opacity: 0;
}



.attributes-head-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cross{
    color:var(--light-color);
    cursor: pointer;
}

.actual-author-contribution-cont p{
    color:var(--primary-color);
    font-size: .8em;
    font-weight: 300;
}

.contribution-list{
    list-style: none;

}

.contribution-list li{
    padding:.3em 0;
    color:var(--light-color);
    border-top:1px solid var(--light-color);
    font-size: .7em;
}

.contribution-list li a{
    text-decoration: none;
    color:blue;
    font-size: 1.1em;
}